*.a
*.mod
*.o
*.pyc
*.so
*.so.dSYM/
NONE/
build/
dist/
pyshtools/doc/
examples/notebooks/.ipynb_checkpoints/
pyshtools.egg-info/
src/_SHTOOLS-f2pywrappers.f
src/_SHTOOLSmodule.c
examples/fortran/MarsCrustalThickness/MarsCrustalThickness
examples/fortran/SHCilmPlus/TestCilmPlus
examples/fortran/SHExpandDH/TestExpandDH
examples/fortran/SHExpandLSQ/TestSHExpandLSQ
examples/fortran/SHLocalizedAdmitCorr/LocalizedAdmitCorr
examples/fortran/SHMag/SHMag
examples/fortran/SHRotate/TestSHRotate
examples/fortran/TimingAccuracy/TimingAccuracyDH
examples/fortran/TimingAccuracy/TimingAccuracyDHC
examples/fortran/TimingAccuracy/TimingAccuracyGLQ
examples/fortran/TimingAccuracy/TimingAccuracyGLQC
examples/fortran/fftw_wisdom/create_wisdom
examples/fortran/MarsCrustalThickness/misfit.sh
examples/fortran/MarsCrustalThickness/moho.sh
examples/fortran/MarsCrustalThickness/thick.dat
examples/fortran/SHCilmPlus/grid2d.dat
examples/fortran/SHLocalizedAdmitCorr/admit_corr.dat
examples/fortran/SHMag/phi_145f.dat
examples/fortran/SHMag/pot_145f.dat
examples/fortran/SHMag/radial_145f.dat
examples/fortran/SHMag/theta_145f.dat
examples/fortran/SHMag/total_145f.dat
examples/fortran/SHRotate/test.dat
examples/fortran/SHRotate/test.sh
examples/fortran/TimingAccuracy/DH_2.maxerror
examples/fortran/TimingAccuracy/DH_2.rmserror
examples/fortran/TimingAccuracy/DH_2.timef
examples/fortran/TimingAccuracy/DH_2.timei
examples/fortran/TimingAccuracy/GLQ_2.maxerror
examples/fortran/TimingAccuracy/GLQ_2.rmserror
examples/fortran/TimingAccuracy/GLQ_2.timef
examples/fortran/TimingAccuracy/GLQ_2.timei
examples/fortran/TimingAccuracy/GLQ_m2.maxerror
examples/fortran/TimingAccuracy/GLQ_m2.rmserror
examples/fortran/TimingAccuracy/GLQ_m2.timef
examples/fortran/TimingAccuracy/GLQ_m2.timei
examples/fortran/TimingAccuracy/output1
examples/fortran/TimingAccuracy/output2
examples/fortran/TimingAccuracy/output3
examples/fortran/TimingAccuracy/DH_m2.maxerror
examples/fortran/TimingAccuracy/DH_m2.rmserror
examples/fortran/TimingAccuracy/DH_m2.timef
examples/fortran/TimingAccuracy/DH_m2.timei
examples/fortran/TimingAccuracy/output4
examples/fortran/TimingAccuracy/DHC_2.maxerror
examples/fortran/TimingAccuracy/DHC_2.rmserror
examples/fortran/TimingAccuracy/DHC_2.timef
examples/fortran/TimingAccuracy/DHC_2.timei
examples/fortran/TimingAccuracy/output5
examples/fortran/TimingAccuracy/DHC_m2.maxerror
examples/fortran/TimingAccuracy/DHC_m2.rmserror
examples/fortran/TimingAccuracy/DHC_m2.timef
examples/fortran/TimingAccuracy/DHC_m2.timei
examples/fortran/TimingAccuracy/GLQC_2.maxerror
examples/fortran/TimingAccuracy/GLQC_2.rmserror
examples/fortran/TimingAccuracy/GLQC_2.timef
examples/fortran/TimingAccuracy/GLQC_2.timei
examples/fortran/TimingAccuracy/output6
examples/fortran/TimingAccuracy/output7
examples/fortran/TimingAccuracy/GLQC_m2.maxerror
examples/fortran/TimingAccuracy/GLQC_m2.rmserror
examples/fortran/TimingAccuracy/GLQC_m2.timef
examples/fortran/TimingAccuracy/GLQC_m2.timei
examples/fortran/TimingAccuracy/output8
examples/python/Circles.png
examples/python/GlobalSpectralAnalysis/SHCspectrum_mars.png
examples/python/GlobalSpectralAnalysis/SHCtopography_mars.png
examples/python/GlobalSpectralAnalysis/SHRspectrum_mars.png
examples/python/GlobalSpectralAnalysis/SHRtopography_mars.png
examples/python/GravMag/Filter.png
examples/python/GravMag/GravGrad_C22.png
examples/python/GravMag/MarsGeoid.png
examples/python/GravMag/Mars_normalgravity.png
examples/python/Histogram.png
examples/python/IOStorageConversions/topography_mars.png
examples/python/Other/Circles.png
examples/python/Other/Histogram.png
examples/python/TestLegendre/associatedlegendre.png
examples/python/TestLegendre/legendre.png
examples/python/GravMag/Mars_Grav.png
examples/python/GravMag/Mars_Mag.png
examples/python/GravMag/Mars_MagPowerSpectrum.png
examples/python/GravMag/Mars_CrustalThicknes.png
examples/python/ClassInterface/DHGrid.png
examples/python/ClassInterface/DHGrid_rotated.png
examples/python/ClassInterface/DHGrid_unrotated.png
examples/python/ClassInterface/GLQGrid.png
examples/python/ClassInterface/cap_coupling.png
examples/python/ClassInterface/cap_tapers.png
examples/python/ClassInterface/continent_coupling.png
examples/python/ClassInterface/continent_tapers.png
examples/python/ClassInterface/power.png
examples/python/LocalizedSpectralAnalysis/mask.png
