*.a
*.mod
*.o
examples/MarsCrustalThickness/MarsCrustalThickness
examples/SHCilmPlus/TestCilmPlus
examples/SHExpandDH/TestExpandDH
examples/SHExpandLSQ/TestSHExpandLSQ
examples/SHLocalizedAdmitCorr/LocalizedAdmitCorr
examples/SHMag/SHMag
examples/SHRotate/TestSHRotate
examples/TimingAccuracy/TimingAccuracyDH
examples/TimingAccuracy/TimingAccuracyDHC
examples/TimingAccuracy/TimingAccuracyGLQ
examples/TimingAccuracy/TimingAccuracyGLQC
examples/fftw_wisdom/create_wisdom
examples/MarsCrustalThickness/misfit.sh
examples/MarsCrustalThickness/moho.sh
examples/MarsCrustalThickness/thick.dat
examples/SHCilmPlus/grid2d.dat
examples/SHLocalizedAdmitCorr/admit_corr.dat
examples/SHMag/phi_145f.dat
examples/SHMag/pot_145f.dat
examples/SHMag/radial_145f.dat
examples/SHMag/theta_145f.dat
examples/SHMag/total_145f.dat
examples/SHRotate/test.dat
examples/SHRotate/test.sh
examples/TimingAccuracy/DH_2.maxerror
examples/TimingAccuracy/DH_2.rmserror
examples/TimingAccuracy/DH_2.timef
examples/TimingAccuracy/DH_2.timei
examples/TimingAccuracy/GLQ_2.maxerror
examples/TimingAccuracy/GLQ_2.rmserror
examples/TimingAccuracy/GLQ_2.timef
examples/TimingAccuracy/GLQ_2.timei
examples/TimingAccuracy/GLQ_m2.maxerror
examples/TimingAccuracy/GLQ_m2.rmserror
examples/TimingAccuracy/GLQ_m2.timef
examples/TimingAccuracy/GLQ_m2.timei
examples/TimingAccuracy/output1
examples/TimingAccuracy/output2
examples/TimingAccuracy/output3
examples/TimingAccuracy/DH_m2.maxerror
examples/TimingAccuracy/DH_m2.rmserror
examples/TimingAccuracy/DH_m2.timef
examples/TimingAccuracy/DH_m2.timei
examples/TimingAccuracy/output4
examples/TimingAccuracy/DHC_2.maxerror
examples/TimingAccuracy/DHC_2.rmserror
examples/TimingAccuracy/DHC_2.timef
examples/TimingAccuracy/DHC_2.timei
examples/TimingAccuracy/output5
examples/TimingAccuracy/DHC_m2.maxerror
examples/TimingAccuracy/DHC_m2.rmserror
examples/TimingAccuracy/DHC_m2.timef
examples/TimingAccuracy/DHC_m2.timei
examples/TimingAccuracy/GLQC_2.maxerror
examples/TimingAccuracy/GLQC_2.rmserror
examples/TimingAccuracy/GLQC_2.timef
examples/TimingAccuracy/GLQC_2.timei
examples/TimingAccuracy/output6
examples/TimingAccuracy/output7
examples/TimingAccuracy/GLQC_m2.maxerror
examples/TimingAccuracy/GLQC_m2.rmserror
examples/TimingAccuracy/GLQC_m2.timef
examples/TimingAccuracy/GLQC_m2.timei
examples/TimingAccuracy/output8
