include README.md
include LICENSE
include VERSION
include Contributors.txt
include Makefile
include index.html

graft examples/ExampleDataFiles
recursive-include examples/fortran *.f95 input* Makefile
recursive-include examples/python *.py Makefile
recursive-include examples/notebooks *.ipynb

graft src/pydoc
graft src/fdoc
recursive-include src *.py *.pyf

graft man
graft www
