include README.md
include LICENSE.txt
include AUTHORS.md
include Makefile
include versioneer.py
include pyshtools/_version.py

graft examples/ExampleDataFiles
recursive-include examples/fortran *.f95 input* Makefile
recursive-include examples/python *.py Makefile
recursive-include examples/notebooks *.ipynb

graft src/pydoc
graft src/fdoc
recursive-include src *.py *.pyf

graft man
