name: Build wheels

on:
  push:
  pull_request:
    branches: [master]
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels_aarch64:
    name: Build wheels for Linux aarch64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up QEMU  # provides aarch64 emulation support
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.23
        env:
          CIBW_MANYLINUX_AARCH64_IMAGE: "manylinux_2_28"
          CIBW_ARCHS_LINUX: "aarch64"
          CIBW_BEFORE_ALL_LINUX: yum install -y fftw-devel openblas-devel
          CIBW_SKIP: "*-musllinux*"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-ubuntu-latest-aarch64
          path: ./wheelhouse/*.whl

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon.
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3
        env:
          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux_2_28"  # ensure we don't use CentOS-based manylinux
          CIBW_BEFORE_ALL_MACOS: brew reinstall gcc fftw lapack
          CIBW_BEFORE_ALL_LINUX: yum install -y fftw-devel openblas-devel
          CIBW_BEFORE_ALL_WINDOWS: >
            C:\\msys64\\usr\\bin\\bash.exe -lc "pacman --noconfirm -Syu" &&
            C:\\msys64\\usr\\bin\\bash.exe -lc "pacman --noconfirm -S mingw-w64-ucrt-x86_64-gcc-fortran mingw-w64-ucrt-x86_64-openblas mingw-w64-ucrt-x86_64-cmake mingw-w64-ucrt-x86_64-fftw"
          CIBW_BEFORE_BUILD_WINDOWS: pip install delvewheel
          CIBW_ENVIRONMENT_WINDOWS: PATH="C:\\msys64\\ucrt64\\bin;$PATH" MSYSTEM="UCRT64"
          CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: "delvewheel repair -w {dest_dir} {wheel}"  # adds DLLs to wheel
          CIBW_SKIP: "*-manylinux_i686 *-musllinux* *-win32"
          MACOSX_DEPLOYMENT_TARGET: "15.0"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3.3.0
        with:
          python-version: 3.14
          channels: conda-forge
          channel-priority: strict
          auto-update-conda: true
          miniconda-version: "latest"
          activate-environment: build_sdist

      - name: Set up Conda environment
        shell: bash -l {0}
        run: |
          conda config --set always_yes yes --set changeps1 no
          conda install -q -n build_sdist blas-devel \
                                          fftw \
                                          meson-python \
                                          numpy \
                                          pkg-config \
                                          jupyter
          pip install build setuptools-scm

      - name: Build sdist
        shell: bash -l {0}
        run: |
          pipx run build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_wheels_aarch64, build_sdist]
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    if: github.event_name == 'release' && github.event.action == 'published'
    # or, alternatively, upload to PyPI on every tag starting with 'v' (remove on: release above to use this)
    # if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@v4
        with:
          # unpacks all CIBW artifacts into dist/
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
          # To test: repository-url: https://test.pypi.org/legacy/
