name: Upload tarball archive to github release page

on:
  release:
    types: [published]

jobs:
  deploy:

    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      contents: write
      checks: write
      actions: read
      issues: read
      packages: write
      pull-requests: read
      repository-projects: read
      statuses: read

    steps:
    - name: Download tarball archive
      uses: carlosperate/download-file-action@v2
      id: download-tarball
      with:
        file-url: 'https://github.com/SHTOOLS/SHTOOLS/archive/${{ github.event.release.tag_name }}.tar.gz'

    - name: Upload tarball as release asset
      uses: alexellis/upload-assets@0.4.0
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        asset_paths: '["${{ steps.download-tarball.outputs.file-path }}"]'
